@model IEnumerable<MVCStore2.Models.Book>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @foreach (var au in item.Authors)
                {
                @Html.DisplayFor(modelItem => au.AuthorName)
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
                @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
